body {
    margin: 0;
    background-color: #68cdd5;
}

.box1 {
    height: 50px;
}

.img1 {
    border: none;
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 15px;
}

.box2 {
    height: 150px;
    position: relative;
}

.img2 {
    width: 120px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box3 {
    margin: 15%;
    color: #fff;
}

.text1 {
    font-size: 15px;
}

.box4 {
    float: left;
    width: 50%;
    height: 50%;
}

.box5 {
    float: right;
    width: 50%;
    height: 50%;
}

.img3 {
    float: left;
    width: 50px;
    height: 50px;
    margin: 0 30%;
}

.img4 {
    float: right;
    margin: 0 30%;
    width: 50px;
    height: 50px;
}

.text2 {
    float: left;
    margin-left: 30%;
    font-size: 15px;
    color: #FFFF;
}

.text3 {
    float: right;
    margin-right: 30%;
    font-size: 15px;
    color: #fff;
}