body {
    margin: 0;
    padding: 0;
    background-color: #68cdd5;
}

.box1 {
    height: 50px;
}

.img1 {
    border: none;
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 15px;
}

.box2 {
    height: 150px;
    width: 100vw;
    position: relative;
}

.img2 {
    width: 120px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box3 {
    margin-left: 20vw;
    margin-top: 40px;
    color: #fff;
}

.box4 {
    display: inline-block;
    width: 48vw;
    height: 48vw;
    margin-top: 90px;
    text-align: center;
    font-size: 13px;
    color: #FFFF;

}

.img3 {
    width: 50px;
    height: 50px;
}